<div class="container">
  <div class="row">
    <!--About Me-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="../../assets/DSC_0161.jpg"
          alt="Profile Picture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          Hi! I am Boitumelo Lefaphana, a passionate Full-Stack Software
          Developer, I have expertise in Python, Java, HTML, CSS, JavaScript,
          React, Angular, MongoDB, and SQL. I've optimized data quality at CBS
          and developed Java applications at MesTech. My portfolio includes
          projects like the 'Snake Game', 'Distributed Unix-based Development
          Kernel', 'Cost Effective Campus Instant Messenger', and 'Drug
          Inventory Database System', showcasing my problem-solving skills and
          creativity. I am dedicated to continuous learning and passionate about
          leveraging technology to solve real-world challenges.
        </p>
      </div>
    </div>
    <!--Featured Project-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{ featuredProject.name }}</h4>
      </div>
      <carousel>
        <div *ngFor="let picture of featuredProject.pictures">
          <slide>
            <img
              src="{{ picture }}"
              alt="slide"
              style="display: block; width: 100%"
            />
          </slide>
        </div>
      </carousel>

      <P class="mt-2">{{ featuredProject.summary }}</P>
      <p>Visit the portfolio section to learn more!</p>
    </div>
  </div>
</div>
